<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right m-b-small">
            <%= link_to new_work_process_path(), class: "btn btn-info" do %>
                <i class="fa fa-plus"></i> <%= t('processes.add_new_process') %>
            <% end %>
        </div>
    </div>
</div>

<%= breadcrumb(links: [{key: 'processes', name: t('processes.processes')}]) %>

<div class="panel panel-default">
    <div class="list-group" id="work_process_list">
        <%= render partial: "/work_processes/work_process", collection: @work_processes %>  
    </div>
</div>