<td valign="top" class="rightColumnContent" mc:edit="right_column_content">
  <a rel="nofollow" href="#" style="color: #505050;text-decoration:none;">Richard-Strauss-Straße 71 <br/>81679 München</a><br/>
  <a href="mailto:itpilot@netcos.de">itpilot@netcos.de</a><br>
  +49 (89) 45 22 16-87
</td>
