<section class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= @static_page.title %></h1>

        <div class="m-t-large">
          <%= @static_page.description.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
