<section class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <%= image_tag("pages/help/logo.png", class: "") %><br/>
          <h1>Terms and Conditions</h1>
        </div>

        <div>
          <h3>Content</h3>
          <ol class="m-t-large">
            <li><%= link_to 'Link1', '#ref1'%></li>
            <li><%= link_to 'Link2', '#ref2'%></li>
          </ol>

          <div id="ref1" class="m-t-large">
            <h4>Ref 1</h4>
            <p>lorem ipsum</p>
          </div>

          <div id="ref2" class="m-t-large">
            <h4>Ref 2</h4>
            <p>lorem ipsum</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>