<div class="row">
  <div class="col-md-10"><h4><%= t('users.invitation.location_step.add_new_customer') %></h4></div>
  <div class="col-md-2 text-right"><h4><%= t('users.form.step_n_in_t',n: 3, t: 3) %></h4></div>
</div>

<div class="panel">
  <div class="panel-body">
    <%= form_for(@customer, url: customers_path(registration: true), validate: true, html: {class: "form-horizontal"}) do |f| %>
      <%= render partial: 'customers/form', locals: {f: f, registration: true}  %>
    <% end %>
  </div>
</div>
