.plan-tag {
  position: absolute;
  font-size: 13px;
  color: #31b0d5;
  margin-left: 5px;
}
.membership-tag {
  position: absolute;
  font-size: 13px;
  color: #31b0d5;
  margin-left: -110px;
  margin-top: 2px;
}