<h1 class="text-success m-t-40 m-b-40"><%= t('users.success') %></h1>
<div class="clearfix"></div>
<h4 class="m-t-40 m-b-40"><%= t('users.invitation_email_has_been_sent_to', to: @user.email) %> <br/> <%= t('users.to_continue_registration_check_email') %></h4>
