<ul class="list-inline text-right">
  <li>
    <%= link_to t("footer.links.terms_and_conditions"), dynamic_page_path('v2nfe7b8'), target: :_blank%>
  </li>
  <li><span class="text-muted">|</span></li>
  <li>
    <%= link_to t("footer.links.help"), dynamic_page_path("xyfuywqz"), target: :_blank%>
  </li>
  <li><span class="text-muted">|</span></li>
  <li>
    <span class="text-muted">&copy; itpilot</span>
  </li>
</ul>
<%= link_to '#', class: 'btn btn-default', id: 'scrollup' do %>
  <i class="fa fa-arrow-up fa-lg"></i>
<% end %>
